* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: rgb(207, 180, 158);
  color: rgb(183, 91, 34);
}

header nav {
  padding: 1rem 2rem;
  background-color: rgb(116, 67, 35);
  color: whitesmoke;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header nav ul li {
  color: whitesmoke;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
header nav ul li:hover {
  background-color: whitesmoke;
  border-radius: 50px;
  color: rgb(18, 18, 18);
}
header nav ul li a {
  text-decoration: none;
  color: rgb(183, 91, 34);
  font-weight: bolder;
}
header nav ul li a:hover {
  color: rgb(18, 18, 18);
}
header h1 {
  text-align: center;
  padding: 3% 2.5%;
  font-size: 5vw;
}
header p {
  text-align: center;
  font-size: 4vw;
}

main {
  width: 100%;
  min-height: 500px;
  gap: 1rem;
}
main .musique {
  width: 100%;
  height: 300px;
  position: relative;
  gap: 12px;
  padding: 0 10px;
}
main .musique .card-2,
main .musique .card-3 {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  height: 250px;
  width: 250px;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 100%;
}
main .musique .card-1 {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  height: 250px;
  width: 250px;
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 100%;
}
main .musique #card1:target,
main .musique #card2:target,
main .musique #card3:target {
  opacity: 1;
  display: block;
}
main .musique .card-1 {
  position: relative;
  background-image: url(./assets/458205248_1057407992641307_7211894212455924556_n.jpg);
  background-size: cover;
}
main .musique .card-1 audio {
  position: absolute;
  left: 100%;
  top: 40%;
  width: 100px;
  border-radius: 1000px;
}
main .card-2 {
  position: relative;
  background-image: url(./assets/469324026_1117215509801314_3857818510479716538_n.jpg);
  background-size: cover;
}
main .card-2 audio {
  position: absolute;
  left: 100%;
  top: 40%;
  width: 100px;
  border-radius: 1000px;
}
main .card-3 {
  position: relative;
  background-image: url(./assets/468279351_1695667751004863_2367781540484185888_n.jpg);
  background-size: cover;
}
main .card-3 audio {
  position: absolute;
  left: 100%;
  top: 40%;
  width: 100px;
  border-radius: 1000px;
}

.buttons {
  padding: 3rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.buttons a {
  padding: 10px 20px;
  background-color: rgb(116, 67, 35);
  color: whitesmoke;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.buttons a:nth-child(1) {
  background-color: gold;
}
.buttons a:nth-child(2) {
  background-color: silver;
  color: rgb(18, 18, 18);
}
.buttons a:nth-child(3) {
  background-color: rgb(205, 127, 50);
}
.buttons a:hover {
  background-color: whitesmoke;
  color: rgb(18, 18, 18);
}

.cinema {
  background-color: rgb(189, 108, 58);
  width: 100%;
  min-height: 650px;
  padding: 0 0 1.5% 0;
  overflow: hidden;
}
.cinema h2 {
  text-align: center;
  padding: 3% 0 2.5% 0;
  font-size: 3rem;
  color: whitesmoke;
}
.cinema .row-1,
.cinema .row-2,
.cinema .row-3 {
  padding: 0 5% 0 1%;
  margin-bottom: 2%;
  height: 150px;
  width: 100%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
}
.cinema .row-1 img,
.cinema .row-2 img,
.cinema .row-3 img {
  grid-column: 1;
  border-radius: 20px;
  width: 125px;
  height: 125px;
}
.cinema .row-1 blockquote,
.cinema .row-2 blockquote,
.cinema .row-3 blockquote {
  grid-column: 2;
  font-size: 2vw;
  color: black;
  background-color: rgb(207, 180, 158);
  border-radius: 100px;
  display: grid;
  place-items: center;
  padding: 0 2.5%;
  text-align: center;
  font-style: italic;
  width: auto;
  height: auto;
}
.cinema .row-1 button,
.cinema .row-2 button,
.cinema .row-3 button {
  grid-column: 3;
  display: grid;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50px;
  border-radius: 10%;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(189, 108, 58);
}
.cinema .row-1 button a,
.cinema .row-2 button a,
.cinema .row-3 button a {
  color: red;
  text-decoration: none;
  font-size: 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cinema .row-1 button a:hover,
.cinema .row-2 button a:hover,
.cinema .row-3 button a:hover {
  color: rgb(18, 18, 18);
}
.cinema .row-1 button span,
.cinema .row-2 button span,
.cinema .row-3 button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 80px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.cinema .row-1 button span i,
.cinema .row-2 button span i,
.cinema .row-3 button span i {
  color: gold;
}

.projet {
  background-color: rgb(225, 173, 140);
  width: 100%;
  min-height: 650px;
  padding: 0 0 2.5% 0;
}
.projet h2 {
  text-align: center;
  padding: 3% 0 2.5% 0;
  font-size: 3rem;
  color: whitesmoke;
}
.projet .projets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projet .projets .projet-1,
.projet .projets .projet-2,
.projet .projets .projet-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 350px;
}
.projet .projets .projet-1 h3,
.projet .projets .projet-2 h3,
.projet .projets .projet-3 h3 {
  font-size: 2rem;
  color: rgb(116, 67, 35);
  margin-bottom: 4%;
}
.projet .projets .projet-1 img,
.projet .projets .projet-2 img,
.projet .projets .projet-3 img {
  width: 235px;
  height: 200px;
  border-radius: 100%;
}

footer {
  background-color: rgb(116, 67, 35);
  color: whitesmoke;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer p {
  text-align: center;
  font-size: large;
  color: rgb(53, 50, 50);
}/*# sourceMappingURL=style.css.map */